<div class="dot-service-integration-configuration__container">
    <div class="dot-service-integration-configuration__header">
        <dot-avatar
            [size]="112"
            [url]="serviceIntegration.iconUrl"
            [label]="serviceIntegration.name"
        ></dot-avatar>
        <div class="dot-service-integration-configuration__data">
            <span class="dot-service-integration-configuration__service-name">
                {{ serviceIntegration.name }}
            </span>
            <div class="dot-service-integration-configuration__service-key">
                {{ messagesKey['service.integration.key'] }}
                <dot-copy-button
                    [copy]="serviceIntegration.key"
                    [label]="serviceIntegration.key"
                ></dot-copy-button>
            </div>
            <span class="dot-service-integration-configuration__configurations"
                >{{
                    serviceIntegration.configurationsCount
                        ? serviceIntegration.configurationsCount +
                          ' ' +
                          messagesKey['service.integration.configurations']
                        : messagesKey['service.integration.no.configurations']
                }}
            </span>
            <div class="dot-service-integration-configuration__description">
                {{ serviceIntegration.description }}
            </div>
        </div>
    </div>
    <div class="dot-service-integration-configuration__body">
        <div>
            <div class="dot-service-integration-configuration__action_header">
                <input
                    pInputText
                    #searchInput
                    type="text"
                    [placeholder]="messagesKey['service.integration.search.placeholder']"
                />
                <button
                    pButton
                    link
                    [label]="messagesKey['service.integration.confirmation.delete.all.button']"
                    icon="fa fa-trash-o"
                    (click)="deleteAllConfigurations()"
                ></button>
            </div>
            <dot-service-integration-configuration-list
                [siteConfigurations]="serviceIntegration.sites"
                [disabledLoadDataButton]="disabledLoadDataButton"
                [itemsPerPage]="paginationPerPage"
                (loadData)="loadData($event)"
                (addConfiguration)="addConfiguration($event)"
                (editConfiguration)="editConfiguration($event)"
                (deleteConfiguration)="deleteConfiguration($event)"
            ></dot-service-integration-configuration-list>
        </div>

        <ng-template #noConfigurations>
            <div class="dot-service-integration-configuration__add-configurations">
                <div class="dot-service-integration-configuration__add-configurations-title">
                    {{ messagesKey['service.integration.add.configurations'] }}
                </div>
                <p class="dot-service-integration-configuration__add-configurations-description">
                    {{ messagesKey['service.integration.no.configurations.message'] }}
                </p>
                <button
                    pButton
                    secondary
                    [label]="messagesKey['service.integration.add.configurations.button']"
                    (click)="createConfiguration()"
                ></button>
            </div>
        </ng-template>
    </div>
</div>
