@import "variables";

:host {
    form {
        display: flex;
        width: 100%;
    }

    textarea {
        height: 36px;
        max-height: 400px;
    }
}

.dot-apps-configuration-detail__form {
    flex-grow: 1;
}

.dot-apps-configuration-detail__form-row {
    margin-bottom: $basic-padding * 3;

    & > * {
        width: 100%;
    }

    .form__label,
    p-checkbox {
        display: inline;
    }

    dot-icon {
        color: $brand-primary;
        margin-left: 8px;
        vertical-align: middle;
    }

    ::ng-deep p-checkbox.required label:before,
    label.required:before {
        color: $red;
        content: "* ";
    }
}
