@import "mixins";
@import "variables";

:host {
    background-color: $white;
    display: block;
    position: relative;
    z-index: 1;

    ::ng-deep {
        .ui-toolbar {
            box-shadow: $md-shadow-1;
            height: 60px;
            margin-bottom: 2px;
        }

        .ui-toolbar-group-right {
            .ui-button {
                margin-left: $basic-padding;
            }
        }
    }
}

.edit-page-toolbar__page-url,
.edit-page-toolbar__page-title {
    margin: 0;
}

.edit-page-toolbar__page-url {
    align-self: center;
    color: $body-font-color;
    font-size: $font-size-x-large;
    font-weight: normal;
    margin-right: $basic-padding / 2;
}

.edit-page-toolbar__page-title {
    color: $gray;
    font-size: $font-size-medium;
    font-weight: normal;
}

.edit-page-toolbar__page-url-wrapper {
    display: flex;
}