@import "variables";
@import "mixins";

:host {
    display: flex;
}

.page-info {
    &__title {
        margin: 0;
        align-self: center;
        color: $body-font-color;
        font-size: $font-size-x-large;
        font-weight: normal;
        margin-right: $basic-padding / 2;
    }

    &__copy-url {
        width: 25px;
        height: 25px;
    }
}
