<ul class="edit-page-nav">
    <li>
        <a class="edit-page-nav__item" routerLinkActive="edit-page-nav__item--active" [routerLink]="['./content']" [queryParams]="route.queryParams | async">
            <i class="fa fa-file-text"></i>
            <span class="edit-page-nav__item-text">{{ dotMessageService.get('editpage.toolbar.nav.content') }}</span>
        </a>
    </li>
    <li *ngIf="templateState">
        <a class="edit-page-nav__item" routerLinkActive="edit-page-nav__item--active" [routerLink]="['./layout']" [queryParams]="route.queryParams | async" [class.edit-page-nav__item--disabled]="!templateState.editable && templateState.advanced">
            <i class="fa" [ngClass]="{'fa-th-large': !templateState.advanced, 'fa-code': templateState.advanced}"></i>
            <span class="edit-page-nav__item-text">{{ dotMessageService.get(templateState.advanced ? 'editpage.toolbar.nav.code' : 'editpage.toolbar.nav.layout') }}</span>
        </a>
    </li>
</ul>
