<!-- <dot-searchable-dropdown
    (change)="containerChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [data]="currentContainers"
    [pageLinkSize]="5"
    [rows]="paginationService.paginationPerPage"
    [totalRecords]="paginationService.totalRecords"
    [labelPropertyName]="['name', 'parentPermissionable.hostname']"
    placeholder="{{ 'editpage.container.add.label' | dm }}"
    persistentPlaceholder="true"
    width="172px"
    overlayWidth="300px"
    [multiple]="true"
>
</dot-searchable-dropdown> -->

<dot-searchable-dropdown
    (change)="onChange($event)"
    (filterChange)="handleFilterChange($event)"
    [placeholder]="placeholder"
    [data]="themes"
    [totalRecords]="totalRecords"
    (pageChange)="handlePageChange($event)"
    rows="5"
    labelPropertyName="name"
    overlayWidth="350"
    valuePropertyName="name"
>
    <!-- TODO: change overlayWidth to value + unit after it's merged -->
</dot-searchable-dropdown>
<h1 *ngIf="totalRecords > 0">Total themes: {{ totalRecords }}</h1>
