<div class="dot-service-integration-configuration-list__results">
    <dot-service-integration-configuration-item
        *ngFor="let site of siteConfigurations; let i = index"
        [site]="site"
        (click)="gotoConfigurationSite($event, site)"
        (goto)="goto($event)"
        (delete)="delete($event)"
    ></dot-service-integration-configuration-item>
</div>

<button
    pButton
    secondary
    class="dot-service-integration-configuration-list__show-more"
    [label]="messagesKey['service.integration.configurations.show.more']"
    (click)="loadNext()"
    [disabled]="disabledLoadDataButton"
></button>
