<div class="dot-service-integration-configuration-list__results">
    <div
        class="dot-service-integration-configuration-list__item"
        *ngFor="let site of siteConfigurations; let i = index"
        (click)="gotoConfigurationSite($event, site)"
    >
        <div class="dot-service-integration-configuration-list__name">
            {{ site.name }}
        </div>
        <div class="dot-service-integration-configuration-list__host-key">
            {{ messagesKey['service.integration.key'] }} {{ site.id }}
        </div>
        <dot-icon-button
            *ngIf="site.configured"
            icon="delete_outline"
            (click)="confirmDelete($event, site)"
        ></dot-icon-button>
        <dot-icon-button
            *ngIf="site.configured"
            icon="edit"
            (click)="gotoConfigurationSite($event, site)"
        ></dot-icon-button>
        <dot-icon-button
            *ngIf="!site.configured"
            icon="add_circle"
            (click)="gotoConfigurationSite($event, site)"
        ></dot-icon-button>
    </div>
</div>

<button
    pButton
    secondary
    class="dot-service-integration-configuration-list__show-more"
    [label]="messagesKey['service.integration.configurations.show.more']"
    (click)="loadNext()"
    [disabled]="disabledLoadDataButton"
></button>
