@import "variables";
@import "mixins";

:host {
    display: contents;

    input {
        width: 100%;
    }

    .empty-placeholder {
        color: $gray-light;
    }

    .field-variable-row-highlight {
        background-color: $gray-bg;
    }

    p-celleditor {
        span {
            display: block;
            height: $basic-padding * 4;
            @include truncate-text;
        }
        input {
            font-size: $font-size-medium;
            height: auto;
            margin: 0;

            &:disabled {
                box-shadow: none;
                color: $black;
            }
        }
    }
}

::ng-deep .ui-table .ui-table-tbody tr.field-variable-row td {
    height: auto;
    padding: 20px $basic-padding * 2 $basic-padding;

    &.content-type-fields__variables-actions {

        padding: 10px 16px 3px;

        & > div {
            text-align: right;
        }

        button {
            margin-right: $basic-padding;

            &:last-child {
                margin-right: 0;
            }
        }

        dot-icon-button button {
            margin-right: 0;
        }
    }
}