<div>
        <button type="button" pButton (click)="addRowClass(i)" *ngFor="let rowClass of grid.getAllRowClass(); let i = index"></button>
    </div>

<div [ngGrid]="gridConfig" (onDragStop)="updateModel()" (onResizeStop)="updateModel()">
    <div class="box" *ngFor="let gridBox of grid.boxes; let i = index" [(ngGridItem)]="gridBox.config">
        <button class="box__remove" type="button" pButton icon="fa fa-times" (click)="onRemoveContainer(i)"></button>
        <button type="button" pButton (click)="addColumnClass(i)"></button>
        <dot-container-selector (change)="propagateGridLayoutChange($event)" (remove)="onRemoveContainer(i)" [data]="gridBox.containers"
            [multiple]="true">
        </dot-container-selector>
    </div>
</div>

<dot-dialog
    #dialog
    (hide)="showAddClassDialog = false"
    [actions]="dialogActions"
    header="Header"
    [(visible)]="showAddClassDialog"
>
    <input pInputText #classToAddInput type="text"/>
</dot-dialog>