<div [ngGrid]="gridConfig" (onDragStop)="updateModel()" (onResizeStop)="updateModel()">
    <dot-container-selector *ngFor="let gridBox of grid; let i = index" (change)="updateContainers($event)" (remove)="onRemoveContainer(i)"
        [(ngGridItem)]="gridBox.config" [selectedContainersList]="gridBox.containers" [multiple]="true">
        <button class="container-selector__header-remove" type="button" pButton icon="fa-close" (click)="onRemoveContainer(i)"></button>
    </dot-container-selector>
</div>