<div [ngGrid]="gridConfig" (onDragStop)="updateModel()" (onResizeStop)="updateModel()">
    <div class="container-selector" *ngFor="let gridBox of grid; let i = index" [(ngGridItem)]="gridBox.config">
        <button class="container-selector__header-remove" type="button" pButton icon="fa-close" (click)="onRemoveContainer(i)"></button>
        <dot-container-selector (change)="updateContainers($event)" (remove)="onRemoveContainer(i)" [selectedContainersList]="gridBox.containers"
            [multiple]="true">
        </dot-container-selector>
    </div>
</div>