<nav [class.collapsed]="collapsed">
    <ul class="dot-nav">
        <li *ngFor="let item of menu">
            <div class="dot-nav__item" (click)="expand(item)" [class.dot-nav__item--active]="item.active">
                <dot-nav-icon [icon]="item.tabIcon"></dot-nav-icon>
                <span class="dot-nav__item-label">{{item.tabName}}</span>
                <dot-icon
                    name="{{item.isOpen ? 'arrow_drop_down' : 'arrow_drop_up'}}"
                    aria-hidden="true">
                </dot-icon>
            </div>
            <ul class="dot-nav-sub" [@expandAnimation]="item.isOpen ? 'expanded' : 'collapsed'">
                <li *ngFor="let subItem of item.menuItems" class="dot-nav-sub__item">
                    <a class="dot-nav-sub__link" [class.dot-nav-sub__link--active]="isActive(subItem.id)" (click)="onClick($event, item.id)" [routerLink]="subItem.menuLink">
                        {{ subItem.label }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
