<nav>
    <ul class="dot-nav">
        <li *ngFor="let item of menu | async" class="dot-nav__item">
            <div class="dot-nav__item-label" [class.dot-nav__item-label--active]="item.isOpen">
                <dot-nav-icon [icon]="item.tabIcon"></dot-nav-icon>
                {{item.tabName}}
            </div>
            <ul class="dot-nav-sub" [@expandAnimation]="item.isOpen ? 'expanded' : 'collapsed'">
                <li *ngFor="let subItem of item.menuItems" class="dot-nav-sub__item">
                    <a class="dot-nav-sub__link" (click)="onClick($event, item.id)" [routerLink]="subItem.menuLink">
                        {{ subItem.label }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- <ng-template ngFor let-menu [ngForOf]="menu | async">
            <dot-accordion-group [heading]="menu.tabName" [icon]="menu.tabIcon" [open]="menu.isOpen">
                <div class="main-nav__submenu">
                    <ng-template ngFor let-menuItem [ngForOf]="menu.menuItems">
                        <a dotMdRipple (click)="onClick($event, menuItem.id)" [routerLink]="menuItem.menuLink"
                            [class.main-nav__submenu--active]="isActive(menuItem.id)">
                            {{ menuItem.label }}
                        </a>
                    </ng-template>
                </div>
            </dot-accordion-group>
        </ng-template> -->
</nav>
