@import "mixins";
@import "variables";

$nav-item-min-height: 48px;

:host, a {
    color: $white;
    text-decoration: none;
}

ul {
    @include naked-list;
}

.dot-nav__item-label,
.dot-nav-sub__link {
    align-items: center;
    display: flex;
    min-height: $nav-item-min-height;
}

.dot-nav {
    &__item-label {
        cursor: pointer;
        padding: 0 $basic-padding 0 $basic-padding * 3;

        dot-nav-icon {
            margin-right: $basic-padding;
        }

        dot-icon {
            margin-left: auto;
        }
    }

    &__item {
        &--active {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.dot-nav-sub {
    &__link {
        padding: 0 $basic-padding 0 46px;

        &--active {
            background-color: $brand-primary
        }
    }
}
