@import "mixins";
@import "variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: $gutter-border;
    padding: 0 $gutter-border;
}

.content-type-fields_add-row__container{
    width: 100%;
    border: 1px solid $gray-light;
    height: 70px;
    max-height: 70px;
    overflow: hidden;
}

.content-type-fields-select-column__container{
    display: flex;
    padding-left: 0;
    margin: 0;
}

.content-types-row-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.content-types-row-list__item {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    list-style: none;
    padding: $basic-padding * 2;
    border-right: 1px $gray-light solid;
    touch-action: none;

    &:last-child {
        border-right: none;
    }

    .content-types-row-list__item-col {
        background-color: $gray-light;
        flex-grow: 1;
        height: 38px;
        margin: 0 $basic-padding / 2;
        transition: background-color $basic-speed ease-in;
    
        &:first-child {
            margin-left: 0;
        }
    
        &:last-child {
            margin-right: 0;
        }
    }

    &.active {
        background-color: $brand-primary;

        .content-types-row-list__item-col{
            background-color: $gray-lightest;
        }
    }
}

.content-type-fields-add-row{
    text-align: center;
    padding: ($basic-padding * 2 + 2) 0;
    position: relative;
    height: 70px;

    button {
        color: $brand-primary;

        &:hover {
            color: $black;
        }

        &.disabled {
            color: $gray-light;
            pointer-events: none;
            cursor: default;
        }
    }

    &.content-type-fields-add-row__expanded {
        height: 0;
        top: -32px;
        padding: 0;
        transition: all 250ms ease-out;
    }

    &.content-type-fields-add-row__collapsed {
        height: 70px;
        top: 0;
        padding: ($basic-padding * 2 + 2) 0;
        transition: all 250ms ease-out;
    }
}   