<div class="content-type-fields_add-row__container">
    <div class="content-type-fields-add-row" 
        [ngClass]="{'content-type-fields-add-row__expanded': addRowSelected === 'expanded', 'content-type-fields-add-row__collapsed': addRowSelected === 'collapsed'}">    
        <button type="button" pButton flat 
            label="{{i18nMessages['contenttypes.content.add_rows']}}" (click)="addRow()" 
            icon="fa-plus" [class.disabled]="disabledButton">
        </button>  
    </div>
    
    <ul #rowList class="content-types-row-list"
        [@enterAnimation]="addRowSelected"
        class="content-type-fields-select-column__container">
        <li *ngFor="let row of rows; let i = index" 
            [ngClass]="{'active': i == selectedCol}" class="content-types-row-list__item"
            pTooltip="{{setTooltipValue(i)}}" tooltipPosition="bottom"
            (mouseenter) ="mouseEnter(i)"
            (click)="selectRow(row)">
            <div class="content-types-row-list__item-col" *ngFor="let i of numberOfCols(row)"></div>
        </li>
    </ul>      
</div>
