@import "mixins";
@import "variables";

$row-height: 70px;

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: $basic-padding;
    padding: 0 $basic-padding * 2;
}

.dot-add-rows-button__container {
    text-align: center;
    position: relative;
    height: $row-height;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-out; // UPDATE THIS!
}

.dot-add-rows__container {
    border: 1px solid $gray-light;
    overflow: hidden;
    height: $row-height;
    position: relative;

    &.dot-add-rows__select {
        .dot-add-rows-button__container {
            height: 0;
            top: -$row-height;
            padding: 0;
        }
        .dot-add-rows-columns-list__container {
            height: $row-height;
        }
    }

    &.dot-add-rows__add {
        .dot-add-rows-button__container {
            top: 0;
        }
        .dot-add-rows-columns-list__container {
            bottom: -$row-height;
        }
    }
}

.dot-add-rows-columns-list__container {
    display: flex;
    @include naked-list;
    height: 0;
    position: absolute;
    width: 100%;
}

.dot-add-rows-columns-list__item {
    cursor: pointer;
    height: $row-height;
    display: flex;
    flex-grow: 1;
    padding: $basic-padding * 2;
    border-right: 1px $gray-light solid;

    &:last-child {
        border-right: none;
    }

    .dot-add-rows-columns-list__item-col {
        background-color: $gray-light;
        flex-grow: 1;
        margin: 0 $basic-padding / 2;
    
        &:first-child {
            margin-left: 0;
        }
    
        &:last-child {
            margin-right: 0;
        }
    }

    &.active {
        background-color: $brand-primary;

        .dot-add-rows-columns-list__item-col {
            background-color: $gray-lightest;
        }
    }
}