@import "mixins";
@import "variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: $basic-padding;
    padding: 0 $basic-padding * 2;
    max-height: 70px;
}

.dot-add-rows-button__container {
    text-align: center;
    position: relative;

    button {
        color: $brand-primary;

        &:hover {
            color: $black;
        }

        &.disabled {
            color: $gray-light;
            pointer-events: none;
            cursor: default;
        }
    }
}

.dot-add-rows__container {
    border: 1px solid $gray-light;
    overflow: hidden;

    &.dot-add-rows__select {
        .dot-add-rows-button__container {
            height: 0;
            top: -35px;
            padding: 0;
            transition: all 300ms ease-out;
        }
    }

    &.dot-add-rows__add {
        .dot-add-rows-button__container {
            top: 0;
            padding: $basic-padding * 2 + 2 0;
            transition: all 300ms ease-out;
        }
    }
}

.dot-add-rows-columns-list__container {
    display: flex;
    @include naked-list;
}

.dot-add-rows-columns-list__item {
    cursor: pointer;
    height: 70px;
    display: flex;
    flex-grow: 1;
    padding: $basic-padding * 2;
    border-right: 1px $gray-light solid;

    &:last-child {
        border-right: none;
    }

    .dot-add-rows-columns-list__item-col {
        background-color: $gray-light;
        flex-grow: 1;
        margin: 0 $basic-padding / 2;
        transition: background-color $basic-speed ease-in;
    
        &:first-child {
            margin-left: 0;
        }
    
        &:last-child {
            margin-right: 0;
        }
    }

    &.active {
        background-color: $brand-primary;

        .dot-add-rows-columns-list__item-col {
            background-color: $gray-lightest;
        }
    }
}