<div class="form__group">
    <label class="form__label">property.label</label>
    <p-radioButton *ngIf="form.get('property.name')"
        label="property.label" 
        name="dataType" 
        value="TEXT" 
        formControlName="dataType">
    </p-radioButton>
    <p-radioButton *ngIf="form.get('radioText')"
        label="Text" 
        name="dataType" 
        value="TEXT" 
        formControlName="dataType">
    </p-radioButton>
    <p-radioButton *ngIf="form.get('radioDate')"
        label="Date" 
        name="dataType" 
        value="DATE" 
        formControlName="dataType">
    </p-radioButton>
    <p-radioButton *ngIf="form.get('radioBlockText')"
        label="Large Block Of Text" 
        name="dataType" 
        value="LONG_TEXT" 
        formControlName="dataType">
    </p-radioButton>
    <p-radioButton *ngIf="form.get('radioBool')"
        label="True/False" 
        name="dataType" 
        value="BOOL" 
        formControlName="dataType">
    </p-radioButton>
    <p-radioButton *ngIf="form.get('radioDecimal')"
        label="Decimal" 
        name="dataType" 
        value="FLOAT" 
        formControlName="dataType">
    </p-radioButton>
    <p-radioButton *ngIf="form.get('radioNumber')"
        label="Whole Number" 
        name="dataType" 
        value="INTEGER" 
        formControlName="dataType">
    </p-radioButton>
</div>