<div class="forgot-password__container">
    <h3>{{ this.dataI18n['forgot-password'] }}</h3>
    <div class="error-message" [innerHTML]="message"></div>
    <form [formGroup]="forgotPasswordForm">
        <div class="form__group">
            <input pInputText #emailInput
                   formControlName="login"
                   placeholder="{{ userIdOrEmailLabel }}"
                   floatingPlaceholder="false"/>
            <dot-field-validation-message
                [message]="this.dataI18n['error.form.mandatory']?.replace( '{0}', userIdOrEmailLabel)"
                [field]="forgotPasswordForm.get('login')"></dot-field-validation-message>
        </div>
        <div class="form__group">
            <button pButton secondary (click)="cancel.emit()" type="button" [label]="this.dataI18n['cancel']"></button>
            <button pButton (click)="ok()" type="submit"
                    [disabled]="!forgotPasswordForm.valid" [label]="this.dataI18n['get-new-password']"></button>
        </div>
    </form>
</div>


