@import 'mixins';
@import 'variables';

p-toolbar::ng-deep {
    z-index: 1004; // Menu and dropdown options in primeng use 1003.

    dot-toolbar-user,
    dot-toolbar-notifications {
        width: 32px;
    }

    .ui-toolbar {
        background-color: $toolbar-background;
        color: $toolbar-color;
        height: $toolbar-height;
        padding-left: 0;
        box-shadow: $md-shadow-1;
    }

    .ui-toolbar-group-right > * {
        margin-left: $basic-padding * 2;
    }
}

.toolbar__button {
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $basic-speed ease-in;
    z-index: 2;
}

.toolbar__button--hide {
    opacity: 0;
    z-index: 1;
}

.toolbar__button-wrapper {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    height: $toolbar-height;
    position: relative;
    width: 70px;
}

.toolbar__logo {
    width: 130px;
    height: $toolbar-height;
    background-color: var(--background-color);
}
