@import 'variables';

:host {
    background-color: white;
    width: 100%;

    ::ng-deep {
        .container-selector {
            height: auto;
        }

        .container-selector__list {
            height: 100%;
        }
    }
}

h6 {
    background-color: $gray-lightest-x;
    font-size: $font-size-large;
    font-weight: normal;
    margin: 0;
    padding: $basic-padding * 2 - 4;
    text-align: left;
}
