@import "variables";
@import "mixins";

:host {
    display: block;
    position: relative;
    z-index: 1;

    ::ng-deep {
        .ui-toolbar {
            height: $toolbar-secondary-height;
        }
    }
}


p-checkbox {
    margin-left: $basic-padding * 3;
}
