@import 'variables';

.material-icons {
    color: rgba(126, 122, 134, 1);
    font-size: $md-icon-size;
    user-select: none;

    &.tiny {
        font-size: $md-icon-size / 2;
    }

    &.invert-color {
        color: $white;
    }
}
