@import 'variables';

.material-icons {
    color: rgba(126, 122, 134, 1);
    font-size: $font-size-xx-large;
    user-select: none;

    &.tiny {
        font-size: $font-size-small;
    }

    &.invert-color {
        color: $white;
    }
}
