@import "variables";

:host {
    min-height: $basic-padding * 12;
    display: flex;

    ::ng-deep {
        p-autocomplete {
            width: 100%;

            .ui-autocomplete {
                display: flex;

                .ui-autocomplete-multiple-container {
                    position: absolute;
                    top: $basic-padding * 5;
                    left: 0;
                    right: $basic-padding * 4;
                    overflow: visible;
                    height: 0;

                    .ui-autocomplete-input-token {
                        position: absolute;
                        top: -$basic-padding * 5;
                        left: 0;
                        right: 0;
                        height: $field-height;
                    }

                    .ui-autocomplete-token {
                        margin: $basic-padding 0 0;
                        padding-left: 0px;

                        span:last-child {
                            margin-right: $basic-padding * 2;
                        }
                    }
                }

                .ui-autocomplete-dropdown {
                    margin-left: auto;
                    width: $basic-padding * 2;
                    border: 0;

                    .ui-button-icon-left {
                        right: 0;
                        left: auto;
                        width: 12px;
                    }
                }
            }
        }
    }
}
