<div class="dot-content-palette__search">
    <dot-icon
        name="search"
        data-testId="searchIcon"
    ></dot-icon>
    <input
        data-testId="searchInput"
        #searchInput
        pInputText
        placeholder="Search"
        type="text"
        class="searchable-dropdown__search-field"
    />
</div>
<div class="dot-content-palette__items">
    <a draggable="true">
        <dot-icon name="description" ></dot-icon>
        <span>Content Type</span>
    </a>
    <a draggable="true" >
        <dot-icon name="description" ></dot-icon>
        <span>Content Type</span>
    </a>
    <a draggable="true" >
        <dot-icon name="description" ></dot-icon>
        <span>Content Type</span>
    </a>
    <a>
        <dot-icon name="description" ></dot-icon>
        <span>Content Type</span>
    </a>
</div>


