<div class="dot-content-palette__search">
    <input
        data-testId="searchInput"
        #searchInput
        [placeholder]="'Content Type'| uppercase"
        pInputText
        type="text"
    />
    <dot-icon
        name="search"
        data-testId="searchIcon"
        size="14"
    ></dot-icon>
</div>
<div class="dot-content-palette__items">
    <a *ngFor='let item of items' draggable="true"
       (dragstart)="dragStart($event, item)"
        (dragend)="dragEnd($event)">
        <dot-icon [name]='item.icon'></dot-icon>
        <span>{{item.name}}</span>
    </a>
</div>


