@use "variables" as *;

:host{
    width: 221px;
    display: flex;
    flex-direction: column;
    padding: $spacing-1 0;
}

.dot-content-palette__search {
    position: relative;
    margin: 0  $spacing-1 $spacing-1;

    input {
        width: 100%;
        border: none;
        outline: 0px;
        background: transparent;
    }

    dot-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $spacing-1;
    }
}

.dot-content-palette__items {
    a {
        width: 100px;
        height: 80px;
        border: 1px solid $gray-light;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: $spacing-1 0 0 $spacing-1;
        cursor: grab;
        color: $black;

        &:hover{
            background: $gray-bg;
        }

        &.dragging{
            transform: rotate(4deg);
        }

        span {
            padding: 0 4px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            text-align: center;
        }
    }
}


