<div class="dot-content-palette__search">
    <input
        data-testId="searchInput"
        #searchInput
        [placeholder]="'structure'| dm | uppercase"
        pInputText
        type="text"
    />
    <dot-icon
        name="search"
        data-testId="searchIcon"
        size="18"
    ></dot-icon>
</div>
<div class="dot-content-palette__items" *ngIf="items.length; else noResults">
    <a *ngFor='let item of items' draggable="true"
       (dragstart)="dragStart($event, item)"
        (dragend)="dragEnd($event)">
        <dot-icon size='30' [name]='item.icon'></dot-icon>
        <span>{{item.name}}</span>
    </a>
</div>
<ng-template #noResults>
    <spna class="dot-content-palette__empty" >{{'No-Results' | dm}}</spna>
</ng-template>



