@use "variables" as *;

:host {
    width: 15.8rem;
    display: flex;
    flex-direction: column;
    padding: $spacing-1 0;
}

.dot-content-palette__search {
    color: $gray;
    position: sticky;
    align-self: flex-start;
    top: 0;
    width: 100%;

    input {
        width: 100%;
        border: none;
        outline: 0px;
        background: transparent;
        padding: $spacing-2 $spacing-5 $spacing-2 $spacing-3;
        color: $gray;
    }

    dot-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $spacing-1;
    }
}

.dot-content-palette__items {

    overflow: hidden auto;

    a {
        width: 100px;
        height: 80px;
        border: 1px solid $gray-light;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: $spacing-1 0 0 $spacing-1;
        cursor: grab;
        color: $black;

        &:hover {
            background: $gray-bg;
        }

        &.dragging {
            transform: rotate(4deg);
        }

        span {
            padding: 0 4px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            text-align: center;
        }
    }
}

.dot-content-palette__empty {
    text-align: center;
    padding: $spacing-1 0;
    margin: $spacing-4;
}


