<dot-dialog [show]="show" (close)="close.emit($event)" [header]="messages['modes.Add-Form']">
    <p-dataTable [value]="items | async" *ngIf="show">
        <p-column [header]="messages['contenttypes.form.name']" field="name"></p-column>
        <p-column [style]="{'text-align': 'right'}">
            <ng-template let-item="rowData" pTemplate="body">
                <button
                    pButton
                    flat
                    class="form-selector__button"
                    [label]="messages['Select']"
                    (click)="select.emit(item)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</dot-dialog>
