<div class="dialog">
    <header class="dialog__header">
        <h4 class="dialog__title" [textContent]="header"></h4>
        <dot-icon-button big icon="close" (click)="closeDialog()"></dot-icon-button>
    </header>

    <div class="dialog__content">
        <ng-content></ng-content>
    </div>

    <footer class="dialog__footer" *ngIf="ok || cancel">
        <button
            *ngIf="cancel"
            pButton
            secondary
            (click)="cancelAction()"
            [disabled]="cancel.disabled"
            [label]="cancel.label">
        </button>
        <button
            *ngIf="ok"
            pButton
            [disabled]="ok.disabled"
            [label]="ok.label"
            (click)="ok.action(this)">
        </button>
    </footer>
</div>
