@import "mixins";
@import "variables";

.dialog ::ng-deep {
    .ui-dialog {
        max-width: 1200px;
        top: auto !important;
        width: 95vw;

        .ui-dialog-content {
            overflow: hidden;
            height: 70vh !important;
        }

    }
}
