@use "variables" as *;

@import "dotcms-theme/utils/theme-variables";
@import "mixins";

:host {
    display: block;
    position: relative;

    &.d-plain-searchable-dropdown {
        .p-button {
            border: none;
            &:hover, &:active, &:focus {
                border: none;
                box-shadow: none;
                background: $hover-bg;
            }

            &::ng-deep {
                .p-button-label {
                    margin-right: 0;
                }
            }
        }
    }

    .p-button {
        border: 1px solid rgba(0, 0, 0, 0.38); // TODO: Move to variable (?)
        padding-left: $spacing-2;
        padding-right: $spacing-2;
        border-radius: 2px;
        background: none;
        text-align: left;

        &:hover, &:focus, &:active {
            border-color: $input-border-hover;
            background: none;
        }
        &:focus, &:active {
            box-shadow: $input-inset-shadow;
        }
        &::ng-deep {
            .p-button-label {
                margin-right: 2rem;
            }

            .p-button-label,
            .p-button-icon {
                font-weight: normal;
                color: $black;
                text-transform: none;
            }
        }
    }
}

::ng-deep {
    .p-overlaypanel.paginator {
        .p-dataview-content {
            margin-bottom: $basic-padding * 4;
        }

        .p-paginator-bottom {
            @include paginator-bottom-absolute;
        }
    }

    .searchable-dropdown .p-overlaypanel-content {
        padding: ($basic-padding * 2) 0;
    }
}

.searchable-dropdown__data-list ::ng-deep {
    .p-dataview {
        position: unset;
    }

    .p-dataview-content {
        width: 100%;

        .searchable-dropdown__data-list-item {
            cursor: pointer;
            display: block;
            line-height: normal;
            padding: $basic-padding ($basic-padding * 2);
            transition: background-color $basic-speed ease-in;
            width: 100%;

            @include truncate-text;

            &.selected {
                font-weight: bold;
            }

            &:hover {
                background-color: $gray-bg;
            }
        }
    }

    .p-dataview-emptymessage {
        padding: 1em;
    }
}

.searchable-dropdown__search-section {
    flex-grow: 1;
    position: relative;

    input.searchable-dropdown__search-inputfield {
        width: 100%;
    }
}

.searchable-dropdown__search {
    display: flex;
    margin: 0 ($basic-padding * 2);
    position: relative;
}

.searchable-dropdown__search-icon {
    color: $gray;
    position: absolute;
    right: $basic-padding;
    top: 9px;
}

.searchable-dropdown__search-action {
    margin-left: $basic-padding * 2;
}
