@import "primeng-theme/utils/extends";
@import "mixins";

dot-searchable-dropdown {
    .ui-button {
        @extend #inputtext-normal-border;
        background: none;
        border: 0;
        border-radius: 0;
        padding-right: $basic-padding * 2;
        text-align: left;
        text-transform: none;
        width: auto;

        &:not([disabled]){
            &:hover,
            &:active,
            &:focus {
                @extend #field-hover-state;
                @extend #inputtext-normal-border;
                border: 0;

                .ui-button-text,
                [class^="ui-button-icon"] {
                    color: $body-font-color;
                }
            }
        }

        .ui-button-text,
        [class^="ui-button-icon"] {
            color: $body-font-color;
        }

        .ui-button-text {
            font-size: $font-size-large;
            font-weight: normal;
            padding: 0;
            text-transform: none;
        }
    }
}

.searchable-dropdown__data-list {
    .ui-dataview {
        min-height: 321px;
        padding-bottom: $basic-padding * 4;
    }

    .ui-dataview-content {
        width: 300px;

        .ui-g {
            margin: 0;

            .searchable-dropdown__data-list-item {
                cursor: pointer;
                display: block;
                padding: $basic-padding / 2;
                transition: background-color $basic-speed ease-in;
                width: 100%;
                @include truncate-text;

                &.selected {
                    font-weight: bold;
                }
    
                &:hover {
                    background-color: $gray-bg;
                }
            }
        }
        
    }

    p-paginator {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    .ui-dataview-emptymessage {
        padding: 1em;
    }
}

.searchable-dropdown__search-section {
    flex-grow: 1;
    position: relative;
}

.searchable-dropdown__search-inputfield {
    padding-right: $basic-padding * 3;
    width: 100%;
}

.searchable-dropdown__search {
    display: flex;
    position: relative;
}

.searchable-dropdown__search-icon {
    color: $gray;
    position: absolute;
    right: 0;
    top: 9px;
}

.searchable-dropdown__search-action {
    margin-left: $basic-padding * 2;
}
