@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
    font-size: $body-font-size-base;

    .toolbar-user__content {
        min-width: 250px;
    }

    .toolbar-user__email {
        margin: 0;
    }

    .toolbar-user__header {
        background: $gray-lightest;
        padding: $basic-padding $basic-padding * 2;
    }

    .toolbar-user__menu {
        @include naked-list();
        margin: $basic-padding 0;
        white-space: nowrap;
    }

    .toolbar-user__user-name {
        margin: 0;
        white-space: nowrap;
    }

    .toolbar-user__menu-item {
        a {
            display: block;
            padding: $basic-padding / 2 $basic-padding * 2;
            text-decoration: none;
            transition: background-color $basic-speed;

            &:hover {
                background-color: $gray-lightest;
            }
        }

    }
}

