<div class="wrapper">
    <div class="options">
        <label>
            <input
                type="radio"
                value="designer"
                name="template"
                [(ngModel)]="value"
                id="designer"
            />
            <div class="item">
                <dot-icon size="100" name="web"></dot-icon>
                <span>Designer</span>
            </div>
        </label>
        <label>
            <input
                type="radio"
                value="advanced"
                name="template"
                [(ngModel)]="value"
                id="advanced"
            />
            <div class="item">
                <dot-icon size="100" name="settings_applications"></dot-icon>
                <span>Advanced</span>
            </div>
        </label>
    </div>

    <p [innerHTML]="map[value]"></p>
</div>

<button pButton label="Next" (click)="onClick()"></button>
