@import "variables";

:host {
    background: $gray-bg;
    box-shadow: $md-shadow-4;
    display: flex;
    height: 100%;
    padding: $basic-padding * 3;
}

form {
    display: flex;
    width: 100%;
}

.dot-service-integration-configuration-detail__header {
    background-color: $white;
    display: flex;
    font-size: $font-size-small;
    position: sticky;
    top: 0;
    z-index: 100;
}

.dot-service-integration-configuration-detail__service-name {
    color: $black;
    display: inline-block;
    font-size: $font-size-xx-large;
    font-weight: bold;
    margin: $basic-padding * 3 0 $basic-padding * 3 $basic-padding * 3;
}

.dot-service-integration-configuration-detail__service-key {
    color: $gray;
    display: inline-block;
    font-size: $font-size-large;
    height: 24px;
    margin: $basic-padding * 3 0 0 $basic-padding * 2;
    vertical-align: bottom;
}

.dot-service-integration-configuration-detail-actions {
    margin-top: $basic-padding * 2 + 2;
    position: absolute;
    right: $basic-padding * 2;

    button:last-child {
        margin-left: $basic-padding;
    }
}

.dot-service-integration-configuration-detail__body {
    border: 1px solid $gray-lighter;
    flex-grow: 1;
    margin: 0 $basic-padding * 2 $basic-padding * 2;
}

.dot-service-integration-configuration-detail__host-name {
    border-bottom: 1px solid $gray-lighter;
    color: $black;
    font-size: $font-size-large;
    font-weight: $font-weight-semi-bold;
    padding: $basic-padding * 3;
}

.dot-service-integration-configuration-detail__container {
    background-color: $white;
    box-shadow: $md-shadow-4;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.dot-service-integration-configuration-detail__form {
    padding: $basic-padding * 3 $basic-padding * 3 0 $basic-padding * 3;
}

.dot-service-integration-configuration-detail__form-row {
    margin-bottom: $basic-padding * 3;

    & > * {
        width: 100%;
    }

    label.required:before {
        color: $red;
        content: "* ";
    }
}
