<dot-layout-properties-item 
    icon="fa-close" 
    [label]="messageService.get('editpage.layout.properties.sidebar.left')" 
    class="list-item__sidebar-left"
    #propertyItemLeft 
    (change)="setValue($event, 'left')">
</dot-layout-properties-item>
<dot-layout-properties-item 
    icon="fa-close" 
    [label]="messageService.get('editpage.layout.properties.sidebar.right')" 
    class="list-item__sidebar-right" 
    #propertyItemRight 
    (change)="setValue($event, 'right')">
</dot-layout-properties-item>