<dot-form-dialog>
    <form class="p-fluid">
        <div class="p-field">
            <label for="title">Title</label>
            <input id="title" pInputText />
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea></textarea>
        </div>
        <div class="p-field">
            <label for="title">Thumbnail</label>
            <input id="title" pInputText />
        </div>
    </form>
</dot-form-dialog>
