<dot-searchable-dropdown
    #searchableDropdown
    cssClass="dot-persona-selector"
    (change)="personaChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [action]="addAction"
    [data]="personas"
    [ngModel]="value"
    [rows]="paginationPerPage"
    [totalRecords]="paginationService.totalRecords"
    [optionsContainerWidth]="448"
    labelPropertyName="name"
>
    <ng-template let-personaData="item" pTemplate="listItem">
        <dot-persona-selector-option
            [persona]="personaData"
            [selected]="value ? value.name === personaData.name : false"
            (change)="personaChange($event)"
            (delete)="deletePersonalization($event)"
        ></dot-persona-selector-option>
    </ng-template>
    <ng-template let-persona="item" pTemplate="select">
        <div *ngIf="persona" class="dot-persona-selector__container" (click)="searchableDropdown.toggleOverlayPanel($event)">
            <dot-avatar
                [label]="persona.name"
                [showDot]="persona.personalized"
                [size]="32"
                [url]="persona.photo || ''"
            ></dot-avatar>
            <div class="dot-persona-selector__label-container">
                <span class="dot-persona-selector__label"
                    >{{ messagesKey['modes.persona.selector.title'] }}
                </span>
                <span class="dot-persona-selector__name">
                    {{ persona.name }}
                </span>
            </div>
            <dot-icon name="arrow_drop_down"></dot-icon>
        </div>
    </ng-template>
</dot-searchable-dropdown>
