@import "variables";

.dot-persona-selector {
    top: 167px!important;

    .ui-dataview-content.ui-widget-content {
        width: 448px;
    }

    .ui-overlaypanel-content {
        padding: $basic-padding * 2 0;
    
        .searchable-dropdown__search {
            margin: 0 $basic-padding * 2;
    
            .searchable-dropdown__search-icon {
                right: $basic-padding;
            }
    
            .searchable-dropdown__search-inputfield {
                border: 1px solid $gray-light;
                border-radius: $border-radius;
                box-shadow: none;
                padding: 0 $basic-padding * 4 0 $basic-padding * 2;
            }
        }
    }
}

.dot-persona-selector__container {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 48px;
    position: relative;
    width: 206px;

    dot-avatar {
        margin-right: $basic-padding;
    }

    .dot-persona-selector__label-container{
        flex-grow: 1;

        span {
            display: block;
        }
        .dot-persona-selector__label {
            color: $gray;
            flex: 1;
            font-size: $font-size-small;
            line-height: $basic-padding * 2;
        }
        .dot-persona-selector__name {
            color: $black;
            font-weight: $semi-bold;
            line-height: $basic-padding * 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 150px;
        }
    }

    dot-icon {
        bottom: $basic-padding / 2;
        position: absolute;
        right: 0;

        i.material-icons {
            color: $gray;
            font-size: 24px;
        }
    }
}
