<dot-searchable-dropdown
    #searchableDropdown
    (change)="personaChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [(ngModel)]="value"
    [action]="addAction"
    [data]="personas"
    [optionsWidth]="448"
    [rows]="paginationPerPage"
    [totalRecords]="paginationService.totalRecords"
    cssClass="dot-persona-selector"
    labelPropertyName="name"
>
    <ng-template let-persona="item" pTemplate="select">
        <dot-persona-selected-item
            [isEditMode]="isEditMode"
            [persona]="persona"
            (selected)="searchableDropdown.toggleOverlayPanel($event)"
        ></dot-persona-selected-item>
    </ng-template>
    <ng-template let-personaData="item" pTemplate="listItem">
        <dot-persona-selector-option
            [persona]="value && value.identifier === personaData.identifier ? value : personaData"
            [selected]="value && value.identifier === personaData.identifier"
            (change)="personaChange($event)"
            (delete)="delete.emit(personaData)"
        ></dot-persona-selector-option>
    </ng-template>
</dot-searchable-dropdown>

<dot-dialog width="500px" *ngIf="addDialogVisible"
    [header]="messagesKey['modes.persona.add.persona']"
    [visible]="addDialogVisible"
    [actions]="dialogActions"
    (hide)="addDialogVisible = false">
    <form [formGroup]="newPersonaForm">
        <div class="form__group">
            <label class="form__label">Host: </label>
            <dot-site-selector (change)="siteChange($event)"></dot-site-selector>
        </div>

        <div class="form__group">
            <label class="form__label">Name: </label>
            <input dotAutofocus type="text" (change)="setKeyTag()" formControlName="name" name="name" pInputText />
            <dot-field-validation-message
                [message]="'name is mandatory'"
                [field]="newPersonaForm.get('name')">
            </dot-field-validation-message>
        </div>

        <div class="form__group">
            <label class="form__label">keyTag: </label>
            <input type="text" formControlName="keyTag" name="keyTag" pInputText />
        </div>

        <div class="form__group">
            <label class="form__label">Upload File : </label>
            <p-fileUpload  *ngIf="!newPersonaImage"
                [chooseLabel]="messagesKey['dot.common.choose']"
                url="/api/v1/temp"
                accept="image/*"
                maxFileSize="10000000"
                (onUpload)="onFileUpload($event)"
                auto="true"
                mode="basic">
            </p-fileUpload>
            <div class="form__file-detail" *ngIf="newPersonaImage" >
                <span>{{newPersonaImage}}</span>
                <button tiny pButton secondary [label]="messagesKey['dot.common.remove']" (click)="removeFile()"></button>
            </div>
        </div>
    </form>
</dot-dialog>
