@import "variables";
@import "primeng-theme/utils/_theme-variables";

:host {
    position: relative;
    display: block;

    ::ng-deep .action-menu__list {
        .ui-menu-dynamic {
            // Reset styles to be absolute to parent button <action-menu-button>
            top: 23px !important; 
            left: -145px !important;
        }
    }
}