<form [formGroup]="form" (ngSubmit)="saveFieldProperties(form.value, form.valid)" novalidate>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="form__group">
                <label class="form__label">Name</label>
                <input pInputText type="text" formControlName="name">
                <small [hidden]="form.controls.name.valid || (form.controls.name.pristine && !submitted)">
                    Name is required (minimum 5 characters).
                </small>
            </div>
        </div>
    </div>
</form>