@import 'variables';

:host {
    background-color: $gray-darker;
    height: 35px;
    padding: 6px 0 0 16px;

    p-dropdown {
        margin-right: 10px;
    }

    ::ng-deep {
        .ui-dropdown,
        .ui-dropdown-ui-state-focus {
            box-shadow: none;
            color: red;
        }
    }
}
