<p-dropdown class="tiny invert view-as-toolbar-languages" [options]="languagesOptions"
            [(ngModel)]="viewAsConfig.language"
            [style]="{'width':'auto'}"
            (onChange)="changeConfiguration($event.value)">
</p-dropdown>
<p-dropdown class="tiny invert view-as-toolbar-devices" [options]="devicesOptions"
            [(ngModel)]="viewAsConfig.device"
            [style]="{'width':'auto'}"
            (onChange)="changeDeviceConfiguration($event.value)">
</p-dropdown>
<p-dropdown class="tiny invert view-as-toolbar-personas" [options]="personasOptions"
            [(ngModel)]="viewAsConfig.persona"
            [style]="{'width':'auto'}"
            (onChange)="changeConfiguration($event.value)">
</p-dropdown>
