<ng-container *ngIf="vm$ | async as vm">
    <dot-portlet-base [boxed]="false" *ngIf="vm.working.identifier">
        <dot-portlet-toolbar [title]="vm.working.title">
            <ng-container left *ngIf="vm.working.title">
                <button
                    data-testId="editTemplateButton"
                    pButton
                    class="p-button-text"
                    icon="pi pi-pencil"
                    [label]="'templates.edit' | dm"
                    (click)="editTemplateProps()"
                ></button>
                <dot-api-link [href]="vm.apiLink"></dot-api-link>
            </ng-container>
        </dot-portlet-toolbar>
        <dot-template-builder
            [didTemplateChanged]="didTemplateChanged"
            [item]="vm.working"
            (updateTemplate)="updateTemplate($event)"
            (save)="saveTemplate($event)"
            (cancel)="cancelTemplate()"
            (custom)="onCustomEvent($event)"
        ></dot-template-builder>
    </dot-portlet-base>
</ng-container>
