<div class="layout" [class.collapsed]="isMenuCollapsed">
    <dot-toolbar [collapsed]="isMenuCollapsed" (mainButtonClick)="toggleSidenav($event)" [icon]="setIcon()"></dot-toolbar>
    <div class="layout__content">
        <aside class="layout__sidebar">
            <dot-main-nav (onMenuLinkClicked)="onMenuLinkClicked($event)"></dot-main-nav>
        </aside>
        <main class="layout__main" [class.tabletOnly]="isTablet">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
