@use "libs/dot-primeng-theme-styles/src/scss/variables" as *;

:host {
    width: $content-palette-width;
    min-width: $content-palette-width;
    display: flex;
    flex-direction: column;
    padding: $spacing-1;
    border-left: 1px solid $gray-lighter;
    background: $white;
    position: relative;
    transition: all $basic-speed ease-in-out;

    &.collapsed{
        width: 0px;
        min-width: 0px;
        padding: 0px;

        .dot-content-palette__search dot-icon {
            display: none;
        }
    }
}

.dot-content-palette__search {
    color: $gray;
    position: sticky;
    align-self: flex-start;
    top: 0;
    width: 100%;

    input {
        width: 100%;
        border: none;
        outline: 0px;
        background: transparent;
        padding: $spacing-2 $spacing-5 $spacing-2 $spacing-1;
        color: $gray;
    }

    dot-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $spacing-1;
    }
}

.dot-content-palette__items {

    overflow: hidden auto;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing-1;

    div {
        border: 1px solid $gray-lighter;
        display: grid;
        cursor: grab;
        color: $black;
        padding: 14% 0.25rem;
        align-content: center;
        justify-items: center;

        &:hover {
            background: $gray-bg;
        }

        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            text-align: center;
            margin-top: $spacing-1;
            font-size: $font-size-small;
        }
    }
}

.dot-content-palette__empty {
    text-align: center;
    padding: $spacing-1 0;
    margin: $spacing-4;
}

.dot-content-palette__visibility {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    left: -35px;
    position: absolute;
    background: $white;
    top: 50%;
    border: 1px solid $gray-lighter;
    border-radius: 6px 0 0 6px;
    cursor: pointer;

}


