@import "variables";

.ui-calendar, .ui-inputtext{
    width: 100%;
}

.push-publish-dialog__error-message {
    color: $error;
}

.push-publish-dialog__footer-form {
    display: block;
}

.push-publish-dialog__calendar-date {
    width: 70%;
    display: inline-block;
}

.push-publish-dialog__calendar-time {
    width: 29%;
    display: inline-block;
} 