@import "variables";
@import "mixins";



.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .container {
        max-width: $container-lg;
    }

    input.ui-inputtext {
        display: block;
        width: 100%;
    }

    md-input {
        overflow: inherit;
        width: 100%;
    }
}

