@import "primeng-theme/utils/theme-variables";

:host {
    opacity: 0;
    transition: $basic-speed * 2;
    border-right: solid 1px $gray-bg;
    padding-right: $basic-padding * 3;

    & > * {
        vertical-align: baseline;
    }
    dot-icon {
        margin-right: $basic-padding;
    }

    &.loading {
        .dot-global-message__text {
            color: $brand-primary;
        }
    }

    &.check_circle {
        dot-icon {
            color: $success;
        }
    }

    &.warning {
        dot-icon {
            color: $warn;
        }
    }

    &.error {
        dot-icon {
            color: $error;
        }
    }

    .spinner {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid transparent;
        border-radius: 50%;
        margin-right: $basic-padding;
        border-top-color: $brand-primary;
        animation: dot-spin 1s ease-in-out infinite;
    }

    @keyframes dot-spin {
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes dot-spin {
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

:host(.dot-global-message--visible) {
    opacity: 1;
}

.dot-global-message__text {
    line-height: 19px;
    vertical-align: top;
    color: $gray;
}
