<div class="p-field">
    <label class="form__label">{{ label }}</label>
    <span *ngIf="floatingLabel; else placeholded">
        <p-autoComplete
            #autoComplete
            appendTo="body"
            (completeMethod)="search($event)"
            (keydown.enter)="onKeyEnter($event)"
            (keydown.tab)="$event.preventDefault()"
            (onClear)="onClear()"
            (onSelect)="onSelect($event)"
            [minLength]="2"
            field="label"
            [ngModel]="val"
            [suggestions]="suggestions | async"
        >
            <ng-template let-item pTemplate="item">
                <div class="dot-page-selector__item">
                    <span *ngIf="searchType === 'site'">{{ item.label }}</span>
                    <span
                        class="dot-page-selector__item-url"
                        *ngIf="searchType !== 'site'"
                        >{{ item.payload.path }}</span
                    >
                    <span class="dot-page-selector__item-host" *ngIf="searchType !== 'site'">{{
                        item.payload.hostname
                    }}</span>
                </div>
            </ng-template>
        </p-autoComplete>
    </span>
    <small *ngIf="emptyMessage" class="p-invalid" [textContent]="emptyMessage"></small>
    <dot-field-helper [message]="'page.selector.hint' | dm"></dot-field-helper>
</div>

<ng-template #placeholded>
    <p-autoComplete
        appendTo="body"
        (completeMethod)="search($event)"
        (keydown.enter)="onKeyEnter($event)"
        (keydown.tab)="$event.preventDefault()"
        (onClear)="onClear()"
        (onSelect)="onSelect($event)"
        [minLength]="3"
        field="label"
        [ngModel]="val"
        [suggestions]="suggestions | async"
    >
        <ng-template let-item pTemplate="item">
            <div class="dot-page-selector__item">
                <span *ngIf="searchType === 'site'">{{ item.label }}</span>
                <span
                    class="dot-page-selector__item-url"
                    *ngIf="searchType !== 'site'"
                >{{ item.payload.path }}</span
                >
                <span class="dot-page-selector__item-host" *ngIf="searchType !== 'site'">{{
                    item.payload.hostname
                    }}</span>
            </div>
        </ng-template>
    </p-autoComplete>
</ng-template>
