@import "variables";

form {
    width: 400px;
}

.ui-inputtext {
    width: 100%;
}

.push-publish-dialog__error-message {
    color: $error;
}

.push-publish-dialog__calendar {
}

.push-publish-dialog__calendar-date {
}
