<div class="dot-empty-container">
    <div class="dot-empty-container__content">
        <span *ngIf="icon" class="material-icons">{{ icon }}</span>
        <h3 *ngIf="title">{{ title }}</h3>
        <p *ngIf="content">{{ content }}</p>
        <button pButton type="button" (click)="goToPortlet($event)" [label]="buttonLabel"></button>
    </div>

    <!-- /.dot-empty-container__content -->
    <table class="dot-empty-state">
        <tbody>
            <tr *ngFor="let number of numberOfRows()">
                <td [ngStyle]="{ width: checkBoxWidth + '%' }">
                    <div class="checkbox-dummy"></div>
                </td>
                <td *ngFor="let width of colsTextWidth" [ngStyle]="{ width: columnWidth }">
                    <span class="dot-dummy-text" [ngStyle]="{ width: width + '%' }"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
