<searchable-dropdown        
    #searchableDropdown
    (change)="siteChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    *ngIf="totalRecords > 1"
    [data]="sitesCurrentPage"
    [pageLinkSize]="3"
    [rows]="10"
    [totalRecords]="paginationService.totalRecords"
    class="site-selector__field"
    labelPropertyName="hostname"
    [ngModel]="currentSite | async"
    >
</searchable-dropdown>

<span *ngIf="totalRecords == 1" class="site-selector__title">{{currentSite ? currentSite.hostname : '' | async}}</span>