@import "variables";

.dot-wizard__step {
    width: 400px;
    flex-shrink: 0;
}
.dot-wizard__view {
    width: 400px;
    overflow: hidden;
}

.dot-wizard__container {
    display: flex;
    transition: transform $basic-speed ease-in;
}
