<form class="container p-fluid" [formGroup]="templateForm" (ngSubmit)="onSubmit($event)">
    <div class="p-field">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text" placeholder="Title" pInputText />
    </div>
    <!-- /.p-field -->
    <div class="p-field">
        <label for="description">Description</label>
        <input
            id="description"
            formControlName="description"
            type="text"
            placeholder="Description"
            pInputText
        />
    </div>
    <!-- /.p-field -->
    <div class="p-field">
        <label for="button">Template</label>
        <button
            pButton
            id="button"
            type="submit"
            label="Add Container"
            class="p-button-secondary"
        ></button>
        <dot-textarea-content
            #value
            height="30rem"
            width="70%"
            formControlName="editorContent"
            [show]="['code']"
        ></dot-textarea-content>
    </div>
    <!-- /.text-control -->
</form>
<!-- /.container -->
