<p-table [value]='data.fields' *ngIf='data' autoLayout="true" styleClass="p-datatable-gridlines">
    <ng-template pTemplate='header'>
        <tr>
            <th> </th>
            <th>{{data.working?.title ? data.working?.title : data.working?.identifier}}</th>
            <th class="dot-content-compare-table__controls">
                <p-dropdown [options]="data.versions" (onChange)='changeVersion.emit($event.value)' appendTo="body" >
                    <ng-template let-selected pTemplate="selectedItem">
                        {{selected.modDate}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{item.modDate}}
                    </ng-template>
                </p-dropdown>
                <p-selectButton
                    [options]="displayOptions"
                    [(ngModel)]="showDiff"
                    class="p-button-tabbed"
                    (onChange)="changeDiff.emit($event.value)" >
                </p-selectButton>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-field >
        <tr [ngSwitch]="field?.fieldType" >
           <td>{{field.name}}</td>
            <ng-container *ngSwitchCase="'Image'">
               <td><img [alt]="data.working[field.variable]" [src]="'/dA/'+data.working[field.variable]+'/250w/20q'"></td>
               <td><img [alt]="data.compare[field.variable]" [src]="'/dA/'+data.compare[field.variable]+'/250w/20q'"></td>
            </ng-container>
            <ng-container *ngSwitchCase="'File'">
                <td>
                    <dot-content-compare-file-field
                        [fileId]="data.working[field.variable]"
                        [label]=" data.compare[field.variable]" >
                    </dot-content-compare-file-field>
                </td>
                <td>
                    <dot-content-compare-file-field
                        [fileId]="data.compare[field.variable]"
                        [label]="data.working[field.variable] | dotDiff:data.compare[field.variable]:showDiff" >
                    </dot-content-compare-file-field>
                </td>
            </ng-container>
            <ng-container *ngSwitchCase="'Binary'">
                <td>
                    <dot-content-compare-binary-field [label]="data.working[field.variable]" [fileURL]="data.working[field.variable]"></dot-content-compare-binary-field>
                </td>
                <td>
                    <dot-content-compare-binary-field [label]="data.working[field.variable] | dotDiff:data.compare[field.variable]:showDiff"
                                                      [fileURL]="data.compare[field.variable]">
                    </dot-content-compare-binary-field>
                </td>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <td [innerHTML]="data.working[field.variable]"></td>
                <td [innerHTML]=" data.working[field.variable] | dotDiff:data.compare[field.variable]:showDiff" >
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>
