@use "variables" as *;

.dot-content-compare-table__controls{
    display: flex;
    justify-content: space-between;
}

.dot-content-compare-table__title {
    color: $black;
    font-size: $font-size-large;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    overflow-wrap: anywhere;
    top: 0;
}

.p-datatable .p-datatable-tbody > tr > td {
    overflow-wrap: anywhere;
}

.layout-news-active :host ::ng-deep .p-datatable tr > th {
    top: 0;
}

@media screen and (max-width: 64em) {
    :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
        top: 0;
    }

    .layout-news-active :host ::ng-deep .p-datatable tr > th {
        top: 0;
    }
}
