<p-table [value]='data.fields' *ngIf='data' autoLayout="true" styleClass="p-datatable-gridlines">
    <ng-template pTemplate='header'>
        <tr>
            <th> </th>
            <th>{{data.working?.title ? data.working?.title : data.working?.identifier}}</th>
            <th class="dot-content-compare-table__controls">
                <p-dropdown [options]="data.versions" (onChange)='version.emit($event.value)' appendTo="body" >
                    <ng-template let-selected pTemplate="selectedItem">
                        {{selected.modDate | date:'MM/dd/YYYY - hh:mm'}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{item.modDate | date:'MM/dd/YYYY - hh:mm'}}
                    </ng-template>
                </p-dropdown>
                <p-selectButton
                    [options]="displayOptions"
                    [(ngModel)]="showDiff"
                    class="p-button-tabbed"
                    (onChange)="diff.emit($event.value)" >
                </p-selectButton>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-field >
        <tr [ngSwitch]="field?.fieldType" >

           <td>{{field.name}}</td>
            <ng-container *ngSwitchCase="'Image'">
               <td><img [src]="'/dA/'+data.working[field.variable]+'/250w/20q'"></td>
               <td><img [src]="'/dA/'+data.compare[field.variable]+'/250w/20q'"></td>
            </ng-container>
            <ng-container *ngSwitchCase="'File'">
                <td>
                    <dot-content-compare-file-field
                        [fileId]="data.working[field.variable]"
                        [label]=" data.compare[field.variable]" >
                    </dot-content-compare-file-field>
                </td>
                <td>
                    <dot-content-compare-file-field
                        [fileId]="data.compare[field.variable]"
                        [label]="showDiff ? (data.working[field.variable] | dotDiff:data.compare[field.variable]) : data.compare[field.variable]" >
                    </dot-content-compare-file-field>
                </td>
            </ng-container>
            <ng-container *ngSwitchCase="'Binary'">
                <td>
                    <dot-content-compare-binary-field [label]="data.working[field.variable]" [fileURL]="data.working[field.variable]"></dot-content-compare-binary-field>
                </td>
                <td>
                    <dot-content-compare-binary-field [label]="showDiff ? (data.working[field.variable] | dotDiff:data.compare[field.variable]) : data.compare[field.variable]"
                                                      [fileURL]="data.compare[field.variable]">
                    </dot-content-compare-binary-field>
                </td>
            </ng-container>
            <ng-container *ngSwitchCase="'Date'">
                <td>
                    <dot-content-compare-date-field [format]="field.variable" [value]="data.working[field.variable]"></dot-content-compare-date-field>
                </td>
                <td [innerHTML]="showDiff ?
                ((data.working[field.variable] | json) | dotDiff:(data.compare[field.variable] | json))
                : data.compare[field.variable]" >
                </td>
            </ng-container>
            <!--<ng-container *ngSwitchCase="'Category'">
                <td>
                    {{data.working[field.variable] | json}}
                </td>
                <td [innerHTML]="showDiff ?
                ((data.working[field.variable] | json) | dotDiff:(data.compare[field.variable] | json))
                : data.compare[field.variable]" >
                </td>
            </ng-container>-->
            <ng-container *ngSwitchDefault>
                <td [innerHTML]="data.working[field.variable]"></td>
                <td [innerHTML]="showDiff ?
                (data.working[field.variable] | dotDiff:data.compare[field.variable])
                : data.compare[field.variable]" >
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>
