@import "variables";
@import "mixins";

.container-selector {
    height: 206px; 
    border: 1px solid $gray-lighter; 

    .ui-button[iconButton] {

        [class^="ui-button-icon"] {
            color: $body-font-color;
        }
    }
}

.container-selector__header {
    height: 48px; 
    display: flex;
    justify-content: space-between;
    padding: $basic-padding $basic-padding * 2; 
    background-color: $gray-lighter; 

    .ui-button {
        background: transparent;
    }
}

.container-selector__header-remove {
    padding-top: $basic-padding;
}

.container-selector__list {
    padding: 0 $basic-padding * 2; 
    height: 137px;
    overflow-y: scroll;

    li {
        @include naked-list;
        border-top: 1px solid $gray-lighter;
        padding: $basic-padding 0;

        &:first-child {
            border-top: none;
        }
    }
}