@import "variables";

.list-item__footer svg {
    transform: rotate(180deg);
}

.ui-overlaypanel {
    width: 220px;
}

.ui-overlaypanel-content {
    padding: $basic-padding * 2 0;
}

.ui-button[flat] [class^="ui-button-icon"] {
    color: $black;
}