@import "../../../../../styles/variables";

.action-header {
    position: relative;
    z-index: 1;
    height: 120px;

    [actionButton] {
        top: -30px;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        transition: 
            visibility 0.5s linear 0.4s,
            opacity 0.3s ease 0.2s,
            transform 0.3s ease 0.4s;

        &:first-child {
            margin-left: $basic-padding * 2;
        }
    }

    .action-header__global-search {
        background: $white;
        border-top: 1px solid $gray-light;
        height: 60px;
        position: relative;
        opacity: 1;
        transform: translateY(60px);
        visibility: visible;
        transition: 
            visibility 0.5s linear 0.4s,
            opacity 0.3s ease 0.2s,
            transform 0.3s ease 0.2s;

        [pInputText] {
            margin-left: $basic-padding * 3;
        }

    }

    .action-header__group-actions {
        align-items: center;
        background: $blue;
        border-top: 1px solid $gray-light;
        color: $white;
        display: flex;
        height: 60px;
        transform: translateY(60px);
        visibility: hidden;
        transition: 
            visibility 0.5s,
            transform 0.5s ease;

        .action-header__selected-items-counter {
            border-right: 1px solid $white;
            margin-right: $basic-padding * 2;
            padding: $basic-padding $basic-padding * 2;
        }
    }

}

.selected {    
    [actionButton] {
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: 
            opacity 0.5s ease,
            transform 0.5s ease,
            visibility 0.5s;
    }

    .action-header__global-search {
        opacity: 0;
        transform: translateY(-60px);
        visibility: hidden;
        transition: 
            opacity 0.5s ease 0.3s,
            transform 0.5s ease 0.3s,
            visibility 0.5s;
    }

    .action-header__group-actions {
        transform: translateY(-0px);
        visibility: visible;
        transition:
            transform 0.5s ease 0.2s,
            visibility 0.5s linear 0.4s;
    }
}