<ul class="dot-tree">
    <li>
        <div class="dot-tree__content">
            <dot-icon-button
                icon="wysiwyg"
                [class.dot-tree--active]="parent === contentType.name"
            ></dot-icon-button>
            <span>{{ parent }}</span>
        </div>
        <ul class="dot-tree--child">
            <li>
                <div class="dot-tree__content">
                    <dot-icon-button
                        icon="wysiwyg"
                        [class.dot-tree--active]="child === contentType.name"
                    ></dot-icon-button>
                    <span>{{ child }}{{ fieldName ? ' - ' + fieldName : ('' | titlecase) }}</span>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div *ngIf="isRelationshipChild" class="dot-tree-query">
    <div class="dot-tree-query__content">
        <h3>{{ 'relationship.query.title' | dm }}</h3>
        <code>+{{ child }}.{{ fieldName }}::${{ parent }}.id</code>
    </div>
    <dot-copy-button copy="+{{ child }}.{{ fieldName }}::${{ parent }}.id"></dot-copy-button>
</div>
