@import 'variables';

:host {
    display: flex;
    flex-direction: column;
    padding-top: $basic-padding * 2;
    height: 100%;

    ::ng-deep {
        .ui-datatable {
            display: flex;
            flex-direction: column;
        }

        .ui-datatable-tablewrapper {
            flex-grow: 1;
            background: $white;

            table tbody.ui-datatable-data tr {
                    td {
                        cursor: pointer;


                        span {
                            word-break: break-word;

                            dot-icon {
                                margin-right: $basic-padding;
                                line-height: 0;
                            }
                        }
                    }
                    td:first-child span:first-child{
                        display: flex;

                        dot-icon {
                            align-self: center;
                        }

                        span {
                            align-self: center;
                        }
                    }
            }
        }

        .ui-datatable-data {
            & > tr > .listing-datatable__action-column {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        dot-action-header {
            padding-bottom: $basic-padding * 2;
            background: $white;
        }
    }
}

p-dataTable {
    display: flex;
    flex-grow: 1;
}
