@import 'variables';

:host {
    display: flex;
    flex-direction: column;
    padding-top: $basic-padding * 2;
    height: 100%;

    ::ng-deep {
        .ui-datatable {
            display: flex;
            flex-direction: column;
        }

        .ui-datatable-tablewrapper {
            flex-grow: 1;
            background: $white;

            table tbody.ui-datatable-data td {
                cursor: pointer;
            }
        }

        .ui-datatable-data {
            & > tr > .listing-datatable__action-column {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        dot-action-header {
            padding-bottom: $basic-padding * 3;
            background: $white;
        }

        dot-icon {
            display: inline-block;
            line-height: 0;
            vertical-align: bottom;
        }
    }
}

p-dataTable {
    display: flex;
    flex-grow: 1;
}
