<action-header [options]="actionHeaderOptions">
    <input #gf pInputText type="text" placeholder="{{i18nMessages['global-search']}}" [(ngModel)]="filter"/>
</action-header>

<p-dataTable [value]="items" 
             [rows]="paginatorService.paginationPerPage" 
             [paginator]="true" 
             [pageLinks]="paginatorService.maxLinksPage" 
             [lazy]="true"
             [totalRecords]="paginatorService.totalRecords"
             (onLazyLoad)="loadDataPaginationEvent($event)"
             [(selection)]="selectedItems"
             
             [globalFilter]="gf"
             [sortOrder]="sortOrder && sortOrder.toLowerCase() === 'desc' ? -1 : 1">

    <p-column selectionMode="multiple" *ngIf="multipleSelection"></p-column> 
    <!-- (onRowClick)="handleRowClick($event)" -->

    <ng-template ngFor let-col [ngForOf]="columns">
        <p-column 
            [field]="col.fieldName" 
            [header]="col.header"
            [sortable]="col.sortable"
            [style]="{'width': col.width, 'text-align': getAlign(col)}">
            <ng-template let-item="rowData" pTemplate="body">
                <i class="fa {{col.icon(item)}} listing-datatable__icon" *ngIf="col.icon"></i>
                {{item[col.fieldName]}}
            </ng-template>
        </p-column>
    </ng-template>

    <p-column styleClass="listing-datatable__action-column" [style]="{'width': '4%'}">
        <ng-template pTemplate="header"></ng-template>
        <ng-template let-item="rowData" pTemplate="body">
            <action-menu-button 
                *ngIf="actions.length > 1" 
                actionButton 
                class="listing-datatable__action-button"  
                [model]="actions" 
                command="() => {}"
                [eventRow]="item"> 
            </action-menu-button>
            <icon-button-tooltip 
                *ngIf="actions.length === 1"
                class="field-action__remove"
                [icon]="actions[0].icon"
                [tooltipText]="actions[0].label"
                (click)="actions[0].command(item)">
            </icon-button-tooltip>
        </ng-template>
    </p-column>

</p-dataTable>
