@import "variables";
@import "mixins";

:host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.edit-page__main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    order: 1;
    flex-grow: 1;
    height: 100%;
}

.edit-page__toolbar {
    display: flex;
    background-color: $gray-darker;
    order: 2;
    width: 64px;
    height: 100%;
    flex-shrink: 0;
}

.edit-page__list-container {
    @include naked-list;
    width: 100%;
}

.edit-page__list-element {
    display: flex;
    height: 64px;

    a {
        width: 100%;
        color: $white;
        text-align: center;
        text-decoration: none;
        align-self: center;
    }

    &.active {
        background-color: $brand-primary;
    }
}