@import 'primeng-theme/utils/theme-variables';
:host {
    .dot-icon-button {
        align-items: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: inline-flex;
        height: 32px;
        justify-content: center;
        width: 32px;

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: $gray-bg;
        }

        &.disabled:hover {
            background-color: transparent;
            cursor: not-allowed;
        }

        &.tiny {
            height: 16px;
            width: 16px;
        }

        &.disabled ::ng-deep .material-icons {
            color: $field-disabled-bgcolor;
        }
    }
}
