@import "../../../node_modules/flatpickr/dist/flatpickr.min.css";

.dot-range__body {
    align-items: center;
    display: flex;

    .flatpickr-input {
        margin-right: 1rem;
    }

    label {
        select {
            margin-left: 0.5rem;
        }
    }
}
