<!--LOGIN FORM-->

<div class="login__container">

    <div class="login__">
        <div>
            <img src="{{ dotcmscompanyLogo }}" class="cms-info__logo" />
        </div>



            <p-dropdown tiny [options]="languages"
                        [style]="{'width':'auto'}"
                        id="login-component-language-select"
                        [(ngModel)]="language"
                        (onChange)="changeLanguage($event.value)"
                        [disabled]="isLoginInProgress">
            </p-dropdown>
    </div>

    <h3 class="login__title" >{{ loginLabel }}</h3>

   <div class="login_signin">
            <!--<h2 class="login__title">{{ loginLabel }}</h2>-->
            <div class="error-message" [innerHTML]="message" *ngIf="message"></div>
            <div class="form__group">
                    <span dotMdInputtext label="{{ userIdOrEmailLabel }}">
                        <input pInputText type="text" id="login-component-login-input"
                               (keyup)="message=''"
                               (keyup.enter)="logInUser($event)"
                               [(ngModel)]="myAccountLogin"
                               [disabled]="isLoginInProgress" />
                    </span>
            </div>
            <div class="form__group">
                    <span dotMdInputtext label="{{ passwordLabel }}">
                        <input pInputText type="password" id="login-component-password-input"
                               (keyup)="message=''"
                               (keyup.enter)="logInUser($event)"
                               [(ngModel)]="password"
                               [disabled]="isLoginInProgress" />
                    </span>
            </div>
            <div class="form__group">
                <div class="ui-g-6">
                    <p-checkbox [(ngModel)]="myAccountRememberMe" binary="true" [label]="rememberMeLabel"></p-checkbox>
                </div>


                <a actionLink *ngIf="!isLoginInProgress" (click)="showForgotPassword()" >{{ forgotPasswordButton }}</a>


            </div>
            <div class="form__group">
                <dot-loading-indicator></dot-loading-indicator>
                <button
                    dotMdRipple
                    pButton
                    id="login-component-login-submit-button"
                    *ngIf="!isLoginInProgress"
                    (click)="logInUser()"
                    [label]="loginButton"
                    class="login__button"></button>

            </div>
        </div>

    <div class="cms-info">

            <span>{{ serverLabel }}: {{ dotcmsServerId }}</span> |
            <span>{{ dotcmslicenceLevel }} {{ dotcmsVersion }}</span> -
            <span *ngIf="isCommunityLicense" [innerHTML]="communityLicenseInfoMessage" ></span>
            <!--<span *ngIf="isCommunityLicense" [innerHTML]="communityLicenseInfoMessage" ></span>-->
          <!--  <p class="cms-info__message">( {{ dotcmsBuildDateString }} )</p>-->

    </div>
</div>

