@import "variables";
@import "mixins";
@import "../styles/primeng-theme/utils/theme-variables";

.login__header {
    display: flex;
}

.login__logo {
    flex-grow: 1;
    align-self: center;
    display: flex;

    img {
        width: 102px;
        height: 19px;
    }
}

.login__title {
    margin: $basic-padding * 9 0 $basic-padding * 6 0;
}

.login__password-settings {
    display: flex;

    p-checkbox {
        flex-grow: 1;
    }

    a {
        align-self: center;
    }
}

.login__footer {
    color: $gray-light;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-size-x-small;
}

.login__container {
    @include login-container;
}

.login__button {
    margin-right: $basic-padding;
}
