<div class="dot-apps-configuration__container">
    <dot-apps-configuration-header *ngIf="apps" [app]="apps"></dot-apps-configuration-header>
    <div class="dot-apps-configuration__body">
        <div>
            <div class="dot-apps-configuration__action_header">
                <input
                    pInputText
                    #searchInput
                    type="text"
                    [placeholder]="'apps.search.placeholder' | dm"
                />
                <div>
                    <button
                        pButton
                        link
                        class="dot-apps-configuration__action_export_button"
                        [label]="'apps.confirmation.export.all.button' | dm"
                        [disabled]="!apps.configurationsCount"
                        (click)="confirmExport()"
                    >
                        <span class="p-button-icon material-icons">import_export</span>
                    </button>
                    <button
                        pButton
                        link
                        icon="fa fa-trash-o"
                        [label]="'apps.confirmation.delete.all.button' | dm"
                        [disabled]="!apps.configurationsCount"
                        (click)="deleteAllConfigurations()"
                    ></button>
                </div>
            </div>
            <dot-apps-configuration-list
                [siteConfigurations]="apps.sites"
                [hideLoadDataButton]="hideLoadDataButton"
                [itemsPerPage]="paginationPerPage"
                (loadData)="loadData($event)"
                (edit)="gotoConfiguration($event)"
                (export)="confirmExport($event)"
                (delete)="deleteConfiguration($event)"
            ></dot-apps-configuration-list>
        </div>
    </div>
</div>

<dot-dialog
    class="p-fluid"
    [header]="'apps.confirmation.export.header' | dm"
    [visible]="showExportDialog"
    [actions]="dialogExportActions"
    [appendToBody]="true"
    (hide)="closeExportDialog()"
>
    <form [formGroup]="form" novalidate>
        <input
            dotAutofocus
            autocomplete="new-password"
            formControlName="password"
            name="export-password"
            pInputText
            type="password"
            placeholder="{{ 'apps.confirmation.export.password.label' | dm }}"
        />
        <span>{{ exportErrorMessage }}</span>
    </form>
</dot-dialog>
