@import "../../../../../styles/variables";

.action-button {
    background: none;
    border: none;
    box-shadow: none;
    height: 100%;

    &:hover {
        border: none;
        box-shadow: none;
    }

    .ui-splitbutton {
        .ui-button {
            background-color: $blue;
            border-radius: 50%;
            font-size: 16px;
            height: 56px;
            width: 56px;
            transition: background-color $basic-speed ease-in,
                        box-shadow $basic-speed ease-in;

            span {
                color: $white;
            }

            .ui-button-icon-left:before {
                content: "\F067";
                color: $white;
            }

            &:not([disabled]) {
                &:hover {
                    background: darken($blue, 10%);
                    box-shadow: $md-shadow-2;
                }

                &:active {
                    background: darken($blue, 10%);
                    box-shadow: $md-shadow-2;
                }

                &:focus {
                    background: darken($blue, 10%);
                    box-shadow: $md-shadow-2;
                }
            }

            &[disabled] {
                background: $gray;
            }
        }

        .ui-button.ui-corner-right {
            display: none;
        }
    }

    &.multiple-options {
        .ui-corner-left {
            display: none;
        }

        .ui-splitbutton {
            .ui-button.ui-corner-right {
                display: block;
            }
        }
    }
}