@import "variables";

:host {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 48px;

    &:hover {
        background-color: $gray-bg;
    }

    dot-avatar {
        margin-left: $basic-padding * 2;
        margin-right: $basic-padding;
    }

    label {
        color: $gray-light;
        cursor: pointer;
        flex: 1;
        font-size: $body-font-size-base;

        &.dot-persona-selector-option__personalized {
            color: $body-font-color;
        }
    }

    button {
        align-items: center;
        background: $white;
        border: solid 1px var(--color-sec);
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        font-size: 10px;
        font-weight: bold;
        height: 20px;
        line-height: 1rem;
        margin-right: $basic-padding;
        text-transform: uppercase;

        &:hover {
            background: $white;
            border: solid 1px var(--color-main);
            color: var(--color-main);

            ::ng-deep i {
                color: var(--color-main);
            }
        }

        ::ng-deep dot-icon {
            margin-left: $basic-padding;
        }
    }
}
