<p-card
    *ngIf="messagesKey.edit"
    [ngClass]="{
        'dot-service-integration-card__disabled': !serviceIntegration.integrationsCount
    }"
    (click)="actionFired.emit(serviceIntegration.serviceKey)"
>
    <p-header>
        <dot-avatar
            [showDot]="serviceIntegration.integrationsCount ? true : false"
            [size]="40"
            [url]="serviceIntegration.iconUrl"
        ></dot-avatar>
        <div class="dot-service-integration-card__label-container">
            <span class="dot-service-integration-card__name">
                {{ serviceIntegration.name }}
            </span>
            <span class="dot-service-integration-card__configurations"
                >{{
                    serviceIntegration.integrationsCount
                        ? serviceIntegration.integrationsCount +
                          ' ' +
                          messagesKey['service.integration.configurations']
                        : messagesKey['service.integration.no.configurations']
                }}
            </span>
        </div>
    </p-header>
    {{ serviceIntegration.description }}
</p-card>
