<p-card
    *ngIf="messagesKey.edit"
    [ngClass]="{
        'dot-service-integration-card__disabled': !serviceIntegration.integrationsCount
    }"
>
    <p-header>
        <dot-avatar
            [showDot]="serviceIntegration.integrationsCount ? true : false"
            [size]="32"
            [url]="serviceIntegration.iconUrl"
        ></dot-avatar>
        <div class="dot-service-integration-card__label-container">
            <span class="dot-service-integration-card__name">
                {{ serviceIntegration.name }}
            </span>
            <span class="dot-service-integration-card__configurations"
                >{{
                    serviceIntegration.integrationsCount
                        ? serviceIntegration.integrationsCount +
                          ' ' +
                          messagesKey['service.integration.configurations']
                        : messagesKey['service.integration.no.configurations']
                }}
            </span>
        </div>
    </p-header>
    {{ serviceIntegration.description }}
    <p-footer>
        <button
            pButton
            secondary
            [label]="
                serviceIntegration.integrationsCount
                    ? messagesKey['edit']
                    : messagesKey['service.integration.configure']
            "
            (click)="actionFired.emit(serviceIntegration.serviceKey)"
        ></button>
    </p-footer>
</p-card>
