<p-card>
    <p-header>
        <dot-avatar
            [label]="label"
            [showDot]="true"
            [size]="32"
            [url]="'/dA/0ed8e71a-47c7-4b30-a6f2-3796aa71ba49/photo/hiking-profile.jpg'"
        ></dot-avatar>
        <div class="dot-service-integration-card__label-container">
            <span class="dot-service-integration-card__name">
                {{ 'Asana' }}
            </span>
            <span class="dot-service-integration-card__configurations"
                >{{ '3 Configurations' }}
                <!-- messages['serviceintegration.configurations'] ||
                    messages['serviceintegration.no.integration'] -->
            </span>
        </div>
    </p-header>
    Asana is the easiest way for teams to coordinate and manage their work. With the new and improved Asana
    <p-footer>
        <button pButton secondary label="Edit"></button>
    </p-footer>
</p-card>
