<dot-listing-data-table
    #listing
    [actionHeaderOptions]=""
    [columns]="tableColumns"
    [paginationPerPage]="40"
    sortField="identifier"
    sortOrder="DESC"
    url="v1/templates"
    [actions]="[]"
>
    <<<<<<< HEAD
    <!--    <dot-base-type-selector-->
    <!--        *ngIf="!filterBy"-->
    <!--        (selected)="changeBaseTypeSelector($event)"-->
    <!--    ></dot-base-type-selector>-->
    =======
    <ng-template #rowTemplate let-rowData="rowData">
        <td [ngStyle]="{ 'text-align': tableColumns[0].textAlign }">
            {{ rowData.name }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[1].textAlign }">
            <span>Status TBD</span>
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[2].textAlign }">
            {{ rowData.friendlyName }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[3].textAlign }">
            {{ rowData.modDate }}
        </td>
        <td style="width: 5%">
            <span>Actions TBD</span>
        </td>
    </ng-template>
    >>>>>>> 3092ee548f40b68f3387748798ec124e4c9eb97f
</dot-listing-data-table>
