<dot-listing-data-table
    #listing
    (rowWasClicked)="editTemplate($event)"
    [actionHeaderOptions]=""
    [columns]="tableColumns"
    sortField="identifier"
    sortOrder="DESC"
    url="v1/templates"
    [actions]="[]"
    [checkbox]="true"
    dataKey="inode"
    [firstPageData]="firstPage"
>
    <div>
        <p-checkbox
            label="{{'Show-Archived' | dm}}"
            (onChange)="handleArchivedFilter($event.checked)"
        ></p-checkbox>

        <button type="button" pButton icon="pi pi-ellipsis-v" label="{{ 'Actions' | dm}}" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="templateActions"></p-menu>

    </div>

    <ng-template #rowTemplate let-rowData="rowData">
        <td [ngStyle]="{ 'text-align': tableColumns[0].textAlign }">
            {{ rowData.name }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[1].textAlign }">
            <span>Status TBD</span>
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[2].textAlign }">
            {{ rowData.friendlyName }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[3].textAlign }">
            {{ rowData.modDate }}
        </td>
        <td style="width: 5%">
            <span>Actions TBD</span>
        </td>
    </ng-template>
</dot-listing-data-table>
