<p-selectButton 
    *ngIf="selectOptions.length > 1"
    class="textarea-content__select-field" 
    [options]="selectOptions"
    [(ngModel)]="selected">
</p-selectButton>
<textarea
    *ngIf="selected === 'plain'"
    class="textarea-content__plain-field" 
    [(ngModel)]="value">
</textarea>
<ace-editor
    *ngIf="selected === 'code'"
    class="textarea-content__code-field"
    theme="textmate"
    mode="html"
    [readOnly]="false"
    [options]="codeEditor.options"
    [durationBeforeCallback]="1000"
    [autoUpdateContent]="true"
    [ngStyle]="codeEditor.styles"
    [(text)]="value">
</ace-editor>
<app-tinymce
    *ngIf="selected === 'wysiwyg'"
    class="textarea-content__wysiwyg-field"
    [(ngModel)]="value">
</app-tinymce>