<p data-testId="successful" class="bulk-information__success-message">
    {{ data.successCount }} templates have been successfully {{ data.action }}
</p>

<div class="bulk-information__fail-container">
    <p data-testId="fails" class="bulk-information__fail-message">
        <span class="material-icons">error_outline</span>
        <span>{{ data.fails?.length }} {{ 'failed' | dm }}</span>
    </p>
    <div class="bulk-information__fail-item" *ngFor="let item of data.fails">
        <h5>{{ item.description }}</h5>
        <p>{{ item.errorMessage }}</p>
    </div>
</div>
