<!-- FORMAT -->

<form (change)="changeURL($event)" 
      (submit)="changeURL($event)"
    #forma="ngForm">
    
    <!-- FORMAT -->
    <label for="format" class="title">Format</label>
    <select [(ngModel)]="params.format"
            name="format"
            id="format">
        <option value="auto">Auto</option>
        <option value="filter/Png">png</option>
        <option value="jpeg">jpeg</option>
        <option value="jpegp">jpegp</option>
        <option value="webp">webp</option>
    </select>
    <br>
    <label for="quality">Quality</label>
    <input [(ngModel)]="params.quality" 
            name="quality"
            type="range" 
            id="quality"
            value="100"
            min="0"
            max="100">
    <span>{{params.quality}}</span>
    <br>

    <!-- ZOOM -->
    <label for="resize" class="title">Zoom</label>
    <input  [(ngModel)]="params.resize"
            name="resize"
            type="range" 
            id="resize" 
            value="1" 
            min="0.1" 
            max="2" 
            step="0.1">
    <span class="input-value">{{params.resize}}</span>
    <br>

    <!-- COORDINATE -->
    <span class="coordinate">50 <small>X</small></span>
    <span class="coordinate">50 <small>Y</small></span>
    <button class="btn-api-img" id="set">Set</button>
    <br>

    <!-- CROP -->
    <span class="title">Crop</span>
    <div>
        <input type="text"
                [(ngModel)]="params.cropX"
                name="cropX"
                id="cropX"
                value="250" #cropX>
        <small>W</small>
    </div>
    <div>
        <input type="text"
                [(ngModel)]="params.cropY"
                name="cropY"
                id="cropY"
                value="250" #cropY>
        <small>Y</small>
    </div>
    <button id="crop">Crop</button>
    <br>

    <!-- Rotate  -->
    <input type="text" 
        [(ngModel)]="params.rotate"        
        name="rotate"
        id="rotate"
        value="0">
    <span class="deg-icon">&deg;</span>
    <br>

    <!-- Brightness -->
    <label for="brightness">Brightness</label>
    <input [(ngModel)]="params.brightness" 
            name="brightness"
            type="range" 
            id="brightness" 
            value="0" 
            min="-100" 
            max="100">
    <span>{{params.brightness}}</span>
    <br>

    <!-- Hue -->
    <label for="hue">Hue</label>
    <input [(ngModel)]="params.hue"
            name="hue"
            type="range"
            id="hue"
            value="0"
            min="-100"
            max="100">
    <span>{{params.hue}}</span>
    <br>

    <!-- Saturation -->
    <label for="saturation">Saturation</label>
    <input [(ngModel)]="params.saturation"
            name="saturation"
            type="range"
            id="saturation"
            min="-100"
            max="100">
    <span>{{params.saturation}}</span>

</form>