@import "variables";
@import "mixins";

:host {
    ::ng-deep {
        .ui-autocomplete-panel {
            width: auto !important;
        }

        .ui-autocomplete-list-item {
            white-space: nowrap;
        }

        .autocomplete-input {
            padding-right: $basic-padding * 4;
        }
    }

    dot-field-helper {
        @include dot-field-helper-on-input;
    }
}

.dot-page-selector__item {
    display: flex;
    max-width: 380px;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
    }

    &-host,
    &-url {
        flex-basis: 50%;
    }

    &-host {
        padding-left: $basic-padding / 2;
    }
}
