<!--RESET PASSWORD FORM-->
<div class="reset-password__container">
    <h3>{{ dataI18n['reset-password'] }}</h3>
    <div class="error-message" [innerHTML]="message"></div>
    <form [formGroup]="resetPasswordForm">
        <div class="form__group">
            <input pInputText
                formControlName="password"
                [placeholder]="this.dataI18n['enter-password']"
                floatingPlaceholder="false"
                type="password"
                (keypress) = "cleanConfirmPassword()"
                autocomplete="new-password"/>
            <dot-field-validation-message
                [message]="this.dataI18n['error.form.mandatory']?.replace('{0}', this.dataI18n['enter-password'])"
                [field]="resetPasswordForm.get('password')"></dot-field-validation-message>
        </div>
        <div class="form__group">
            <input pInputText
                formControlName="confirmPassword"
                [placeholder]="dataI18n['re-enter-password']"
                floatingPlaceholder="false"
                type="password"
                (keypress) = "clean()"
                autocomplete="new-password"/>
            <dot-field-validation-message
                [message]="dataI18n['error.form.mandatory']?.replace('{0}', this.dataI18n['re-enter-password'])"
                [field]="resetPasswordForm.get('confirmPassword')"></dot-field-validation-message>
        </div>
        <div class="form__group">
            <button type="submit" pButton [label]="dataI18n['change-password']" (click)="ok()" [disabled]="!resetPasswordForm.valid">
            </button>
        </div>
    </form>
</div>
