<!--RESET PASSWORD FORM-->
<div class="reset-password__container">
    <h3>{{ dataI18n['reset-password'] }}</h3>
    <div class="error-message" [innerHTML]="message"></div>
    <form #resetPasswordForm="ngForm">
        <div class="form__group">
            <input pInputText id="reset-component-password-input"
                name="password"
                #passwordInput="ngModel"
                [placeholder]="this.dataI18n['enter-password']"
                [(ngModel)]="password"
                floatingPlaceholder="false"
                type="password"
                (keyup) = "cleanConfirmPassword()"
                required />
            <p class="error-message" [hidden]="passwordInput.valid || passwordInput.pristine">
                {{ this.dataI18n['error.form.mandatory']?.replace('{0}', this.dataI18n['enter-password']) }}
            </p>
        </div>
        <div class="form__group">
            <input pInputText id="reset-component-confirm-reset-password-input"
                name="confirmPassword"
                #confirmPasswordInput="ngModel"
                [placeholder]="dataI18n['re-enter-password']"
                [(ngModel)]="confirmPassword"
                floatingPlaceholder="false"
                type="password"
                (keyup) = "clean()"
                required/>
            <p class="error-message" [hidden]="confirmPasswordInput.valid || confirmPasswordInput.pristine">
                {{ dataI18n['error.form.mandatory']?.replace('{0}', this.dataI18n['re-enter-password']) }}
            </p>
        </div>
        <div class="form__group">
            <button type="submit" pButton [label]="dataI18n['change-password']" id="reset-component-submit-button" (click)="ok()" [disabled]="!resetPasswordForm.form.valid">
            </button>
        </div>
    </form>
</div>
