<form
    autocomplete="off"
    name="form"
    class="keyvalueForm"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
>
    <div class="inputContainer">
        <input
            class="inputText"
            type="text"
            name="key"
            [(ngModel)]="fieldVariable.key"
            #key="ngModel"
            [placeholder]="labels ? labels.keyPlaceholder : ''"
            required
        />
    </div>
    <div class="inputContainer">
        <input
            class="inputText"
            type="text"
            name="value"
            [(ngModel)]="fieldVariable.value"
            #value="ngModel"
            [placeholder]="labels ? labels.valuePlaceholder : ''"
            required
        />
    </div>
    <button class="ui-button" type="submit" [disabled]="!f.form.valid">
        <span class="ui-button-text">{{ labels ? labels.add : '' }}</span>
    </button>
</form>
